body {
  padding: 50px;
  background-color: #66ccff;
  font-family: sans-serif;
}
#user_container {
    display: flex;
    justify-content: center;
}
#todos_container {
  display: flex;
  justify-content: center;
}
#events_container {
    display: flex;
    justify-content: center;
}


