body {
  padding: 20px;
  background-color: white;
  font-family: sans-serif;
  justify-content: center;
}
#user_container {
    display: flex;
    justify-content: center;
}
#todos_container {
  display: flex;
  justify-content: center;
}
#events_container {
    display: flex;
    justify-content: center;
}


